h1,
h3 {
  margin: 0;
}

.logo {
  font-family: $logoFont;
  font-size: 2.4rem;
  text-decoration: none;
  padding: 8px 12px;
  color: $color-secondary-dark-2;

  text-transform: uppercase;
  &::first-letter {
    color: $color-secondary-light;
    font-size: 2.8rem;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.header {
  //width: 100%;
}

.layer {
  height: 100%;
  width: 100%;
  pointer-events: auto;
}

.frame {
  position: relative;
  max-width: 800px;
  height: 600px;
  background-color: #dbd0fb;
  margin: 20px auto;
  border-radius: 25px;
  overflow: hidden;

  box-shadow: $shadow;
}
.ground {
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 110%;
  &__bg {
    opacity: 0.6;
  }
  &__mt3 {
    right: -60px;
    left: auto;
  }
}

.stars {
  position: absolute;
  top: 20px;
  width: 80%;
  right: 10%;
  @extend .animatedShining;
}

.sky,
.cloudy,
.cloudy__2,
.cloudy__3 {
  position: absolute;
  width: 105%;
  left: -3%;
}
.sky {
  top: -20px;
}
.cloudy {
  top: 3%;
  @extend .animatedCloudyMove;
}
.cloudy__2 {
  top: 20%;
  @extend .animatedCloudyMove-2;
}
.cloudy__3 {
  top: 45%;
  @extend .animatedCloudyMove;
}
.moon {
  position: absolute;
  right: 70px;
  top: 50px;
  width: 100px;
  @extend .animatedShining;
}
.cloudy__small {
  position: absolute;
  right: 70px;
  top: 130px;
  width: 160px;
  @extend .animatedMove;
}
.hero {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  h2 {
    font-family: $TitleFont;
    font-weight: 400;
    font-size: 5.2rem;
    line-height: 7.7rem;
    -webkit-text-stroke: 1px #fff;
    //-webkit-text-fill-color: white;
    margin-bottom: 3.2rem;
    & div:first-child {
      //color: #ff9936;
      @include shinWord(#ff9936);
      text-shadow: -4px 4px 0px #e27a14, -8px 8px 0px #d8710d;
    }
    & div:last-child {
      // background: linear-gradient(180deg, #cc6600 0%, #c51615 100%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // background-clip: text;
      // text-fill-color: transparent;
      @include shinWord(#c51615);
      text-shadow: -4px 4px 0px #a3290c, -8px 8px 0px #822a15,
        -12px 12px 0px #8d2910;
    }
  }
  h3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: $contentFont;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    color: #c83a0c;
    text-shadow: -2px 2px 0px #ffffff;
    margin-bottom: 3.2rem;
  }
}

.btn {
  display: block;

  font-family: $TitleFont;
  font-size: 1.8rem;
  padding: 8px 10px;
  text-decoration: none;
  color: white;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.3s;
  i {
    margin-left: 10px;
    translate: 0px -2px;
  }
  &--primary {
    background-color: #0e0788;
    @include lvl2(#0e0788, white);
  }
  &--sub {
    background: #ff9936;
    @include lvl2(#ff9936, white);
  }
  &--primary:hover,
  &--sub:hover {
    background-color: #822a15;
    @include lvl2(#822a15, white);
  }
}
.animatedShining,
.animatedMove {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.animatedShining {
  animation-name: shining;
}
.animatedMove {
  animation-name: move;
}

.animatedCloudyMove,
.animatedCloudyMove-2 {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.animatedCloudyMove {
  animation-name: cloudyMove;
}
.animatedCloudyMove-2 {
  animation-name: cloudyMove-2;
}

@keyframes shining {
  0% {
    opacity: 1;
    filter: drop-shadow(6px 6px 20px rgba(255, 255, 255, 0.6));
  }
  100% {
    opacity: 0.3;
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.5));
    transform: translate3d(0, 2px, 0);
  }
}

@keyframes move {
  0% {
    opacity: 0.2;
    filter: drop-shadow(4px 4px 10px rgba(255, 255, 255, 0.5));
    transform: translate3d(0, 3px, 0);
  }
  100% {
    opacity: 0.9;
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.5));
    transform: translate3d(5px, 5px, 0);
  }
}

@keyframes cloudyMove {
  0% {
    opacity: 0.2;
    transform: translateX(10px);
  }
  100% {
    opacity: 0.8;
    transform: translateX(-10px);
  }
}

@keyframes cloudyMove-2 {
  0% {
    opacity: 0.2;
    transform: translateX(-10px);
  }
  100% {
    opacity: 0.8;
    transform: translateX(10px);
  }
}
