.menu {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
  }
  &__link {
    list-style: none;
    text-transform: uppercase;
    font-family: $TitleFont;
    padding-inline-start: 0px;
    font-size: 1.4rem;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        color: $color-secondary-dark-2;
        display: inline-block;
        padding: 6px 8px;
        transition: all 0.3s;
      }
      .hvr-underline-from-left:before {
        background-color: $color-secondary-dark-2;
      }
    }
  }
  &__burger {
    position: relative;
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: white;
    display: none;
    label {
      display: flex;
      flex-direction: column;
      width: 70px;
      cursor: pointer;

      scale: 0.4;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }

    label span {
      background: #050505;
      border-radius: 10px;
      height: 7px;
      margin: 7px 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
      width: 50%;
    }

    span:nth-of-type(2) {
      width: 100%;
    }

    span:nth-of-type(3) {
      width: 75%;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(8px, 0px);
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg);
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(30px, -11px) rotatez(45deg);
    }
  }
}

.navigation-menu {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.99);
  backdrop-filter: blur(5px);
  font-family: $TitleFont;
  text-transform: uppercase;
}

.navigation-menu__overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color-black, 0.8);
  backdrop-filter: blur(5px);
  transition: 0.3s;
}

body.open .navigation-menu__overlay {
  visibility: visible;
  opacity: 1;
}

.hamburger-menu {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  width: 65px;
  height: 65px;
  border-bottom-right-radius: 50%;
  border: none;
  color: $color-grey-dark;
  background-color: #f8f6f6;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
#close-icon {
  display: none;
}

.navigation-menu__labels {
  position: fixed;
  visibility: hidden;
  z-index: 3;
  top: 70px;
  left: 0;
  width: 50%;
  height: auto;
  padding: 20px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  // background: #000000;
  transition: translate 0.3s;
  translate: -100% 0;

  a {
    font-size: 1.4rem;
    text-decoration: none;
    color: $color-grey-dark-3;
    padding: 8px 12px;
    transition: translate 0.3s;
    &:hover {
      color: $color-secondary-dark;
    }
  }
  .hvr-underline-from-left:before {
    background-color: $color-secondary-dark-2;
  }
}

body.open .navigation-menu__labels {
  translate: 0 0;
  visibility: visible;
}

.navigation-menu__labels > button {
  color: #f9f9f9;
  background: transparent;
  padding: 0 8px;
}

.navigation-menu__labels > button.active {
  color: inherit;
}
@media only screen and (min-width: 768px) {
  .navigation-menu__labels {
    position: static;
    top: 0;
    left: 0;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }

  .navigation-menu__overlay {
    display: none;
  }
  .navigation-menu {
    justify-content: space-between;
    padding: 0 16px;
  }
  .hamburger-menu {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navigation-menu__labels {
    a {
      font-size: 1.4rem;
      text-decoration: none;
      color: white;
      padding: 8px 12px;
      transition: translate 0.3s;
    }
  }
}
